<%- include('./partials/head')%>
<header>
    <a href="/"> Terug</a>
    <progress id="file" value="32" max="100"> 32% </progress>
</header>

<main>
    <form>
        <fieldset>
            <legend>Wie zijn jouw stakeholders?</legend>
            <i>Je hebt stakeholders nodig om de totale...</i>
            <section>
                <h2>Financiers</h2>
                <i>info financiers, bijvoorbeeld...</i>
                <label>
                    Financier 1
                    <input list="financiers" name="browser" required>
                    <datalist id="financiers">
                    </datalist>                    
                </label>
                <button>+</button>
            </section>
            <section>
                <h2>Klanten</h2>
                <i>info klanten, bijvoorbeeld...</i>
                <label>
                    Klant 1
                    <input list="klanten1" name="browser" required>
                    <datalist id="klanten1">
                        <% klanten.forEach(function(klant) { %>
                            <option value="<%= klant.name %>" > <%= klant.name %> </option>
                        <% }) %>
                    </datalist>                    
                    </select>  
                </label>
                <label>
                    Klant 2
                    <input list="klanten2" name="browser" required>
                    <datalist id="klanten2">
                        <% klanten.forEach(function(klant) { %>
                            <option value="<%= klant.name %>" > <%= klant.name %> </option>
                        <% }) %>
                    </datalist>                    
                    </select>   
                </label>
                <button>+</button>
            </section>

            <section>
                <h2>Leveranciers</h2>
                <i>info leveranciers, bijvoorbeeld...</i>
                <label>
                    Leverancier 1
                    <input list="leveranciers" name="browser" required>
                    <datalist id="leveranciers">
                    </datalist>   
                </label>
                <label>
                    Leverancier 2
                    <input list="leveranciers" name="browser" required>
                    <datalist id="leveranciers">
                    </datalist>  
                </label>
                <button>+</button>
            </section>

            <section>
                <h2>Medewerkers</h2>
                <i>info medewerkers, bijvoorbeeld...</i>
                <label>
                    Medewerker 1
                    <input list="medewerkers" name="browser" required>
                    <datalist id="medewerkers">
                    </datalist>   
                </label>
                <button>+</button>
            </section>

            <section>
                <h2>Omgeving</h2>
                <i>info omgeving, bijvoorbeeld...</i>
                <label>
                    Omgeving 1
                    <input list="omgeving" name="browser" required>
                    <datalist id="omgeving">
                    </datalist>  
                </label>
                <button>+</button>
            </section>
            <button onclick="history.back()">terug</button>
            <button type="submit">volgende</button>
        </fieldset>
    </form>
    
    
    
    
    

    

    

    

    
    
    <% stakeholders.forEach(function(stakeholder) { %>
        <article>
        <%= stakeholder.type %>
        <%= stakeholder.name %>
        </article>
    <% }) %>



</main>
<footer>

</footer>

<%- include('./partials/foot')%>