<%- include('./partials/head')%>
<a href="/"> - back</a>
<h1>Bedrijf</h1>
<%= companies.name %>

<% stakeholders.forEach(function(stakeholder) { %>
    <article>
    <%= stakeholder.type %>
    <%= stakeholder.name %>
    </article>
<% }) %>
<% klanten.forEach(function(klant) { %>
    <article>
    <%= klant.type %>
    <%= klant.name %>
    </article>
<% }) %>
<%- include('./partials/foot')%>