<%- include('./partials/head', {current: 'dashboard'})%>
<nav>
    <%- include('partials/navigatie', {current: '/dashboard'}); %>
</nav>

<main>
    <header>
        <h1>Dashboard</h1>
        <i>Info hoe dashboard werkt</i>
    </header>
    <section class="profile">
        <% if (companies.avatar) { %>
            <%= companies.avatar %>
            <img src="https://fdnd-agency.directus.app/assets/<%= companies.avatar %>" alt="" height="150px" width="150px">
        <% } else { %>
            <img src="/style/image/unknown.webp" alt="" height="150px" width="150px">
        <% } %>
        
        <div>
            <h3><%= companies.name %></h3>
            <p>Wat voor bedrijf</p>
            <p>Hoeveel jaar lid</p>
            <button type="button">verander profiel</button>
        </div>
    </section>

    <section>
        <h2>Begin met opzetten</h2>
        <label> Beginner
            <progress id="file" value="32" max="100"> 32% </progress>
        </label>
        <i>Info over hoe de badge gehaald kan worden</i>
            <ol>
                <li><h3>1. Stakeholders</h3>
                    <i>Info over hoe stakeholders werken</i>
                    <button type="button">stakeholders toevoegen</button>
                </li>
                <li>
                    <h3>2. SDG's</h3>
                <i>Info over hoe sdg's werken</i>
                <button type="button">sdg's toevoegen</button>
                </li>
                <li>
                    <h3>3. Scores</h3>
                    <i>Info over hoe scores op sdg's werken</i>
                    <button type="button">sdg's toevoegen</button>
                </li>
            </ol>
    </section>

    <section class="stakeholders">
        <h2>Stakeholders</h2>
        <i>Info over hoe stakeholders werken</i>
        
        <ul>
            <li>
                <h3>
                    Financiers
                </h3>
                <i>info over financiers</i>
                <p class="alert">Voeg nog 1 financier toe*</p>
                <button type="button">+ voeg financier toe</button>
            </li>
            <li>
                <h3>
                    Klanten
                </h3>
                <i>info over klant</i>
                <p class="alert">Voeg nog 2 klanten toe*</p>
                <button type="button" popovertarget="nieuwe-klant">+ voeg klant toe</button>
                
            </li>

            <!-- <%- include('partials/nieuwe_stakeholder', {stakeholderName: 'klant'}); %> -->
            <form method="POST" action="/dashboard/<%= companies.id %>" popover id="nieuwe-klant">
                <header>
                    <h2>Klant toevoegen</h2>
                    <a href="/dashboard/<%= companies.id %>">x</a>
                </header>
                    
                    <p>* geeft een verplicht veld aan</p>
                    <fieldset>
                        <label>
                            Klant naam:
                            <input name="klant" type="text" placeholder="bijv. ..." required>
                        </label>
                        <label>
                            Klant profielfoto:
                            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />
                        </label>
                    </fieldset>
                    
                    <fieldset>
                        <legend>SDG's toevoegen</legend>
                        <i>info over wat SDG's zijn</i>
                        <p>Kies minimaal 3 sdg's</p>
                        <div class="sdgs">
                            <%- include('partials/sdgs'); %>
                        </div>
                        <button type="button">overslaan</button>
                        <button type="submit">volgende</button>
                    </fieldset>

                    <fieldset>
                        <legend>Scores toevoegen</legend>
                        <p>Van de gekozen sdgs score van -5 tot 5</p>
                        <div class="sdgs">
                            <%- include('partials/selected_sdgs'); %>
                        </div>
                        <button type="button">overslaan</button>
                    </fieldset>

                        <button type="submit">opslaan</button>
                </form>

            <li>
                <h3>
                    Leveranciers
                </h3>
                <i>info over leverancier</i>
                <p class="alert">Voeg nog 2 leveranciers toe*</p>
                <button type="button">+ voeg leverancier toe</button>
            </li>
            <li>
                <h3>
                    Medewerkers
                </h3>
                <i>info over medewerker</i>
                <p class="alert">Voeg nog 1 medewerker toe*</p>
                <button type="button">+ voeg medewerker toe</button>
            </li>
            <li>
                <h3>
                    Omgeving
                </h3>
                <i>info over omgeving</i>
                <p class="alert">Voeg nog 1 omgeving toe*</p>
                <button>+ voeg omgeving toe</button>
            </li>
        </ul>
    </section>

    <footer>
        <ul>
            <li><a href="#">Onze Visie</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy voorwaarde</a></li>   
        </ul>
        <p>&copy; 2023 CrossMarx</p>
    </footer>
</main>

<%- include('./partials/foot')%>