<%- include('./partials/head')%>

<header>
    <h1>home</h1>
</header>

<main>
    <h2>vragenlijst</h2>
    <section>
        <% companies.forEach(function(company) { %>
            <li><a href="./bedrijf/<%= company.id %>"> <%= company.name %></a></li>
        <% }) %>
    </section>

    <h2>dashboard</h2>
    <section>
        <% companies.forEach(function(company) { %>
            <li><a href="./dashboard/<%= company.id %>"> <%= company.name %></a></li>
        <% }) %>
    </section>
</main>

<footer>

</footer>

<%- include('./partials/foot')%>